<!DOCTYPE HTML>
<html>
	
	<%- include('inc/head') -%>
	
	<body>
		
		<div class="gtco-loader"></div>
	
		<div id="page">

			<%- include('inc/nav') -%>
		
			<%- include('inc/header-page') -%>			
			
			<%- include('inc/content/menus') -%>
			
			<%- include('inc/content/text') -%>
		
			<%- include('inc/content/subscribe') -%>
		
			<%- include('inc/footer') -%>

		</div>

		<div class="gototop js-top">
			<a href="#" class="js-gotop">
				<i class="icon-arrow-up"></i>
			</a>
		</div>

		<%- include('inc/footer-scripts') -%>

	</body>
</html>

